@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}

input::placeholder {
  color: #71717a;
}

input:focus {
  border-color: #6366f1 !important;
}

@media (max-width: 768px) {
  .mp-desktop-sidebar {
    display: none !important;
  }
  .mp-mobile-header {
    display: flex !important;
  }
}

@media (min-width: 769px) {
  .mp-mobile-sidebar {
    display: none !important;
  }
}
